[submodule "dotfiles/zoppo"]
	path = dotfiles/zoppo
	url = https://github.com/zoppo/zoppo.git
	branch = default
[submodule "dotfiles/emacs.d"]
	path = dotfiles/emacs.d
	url = git@github.com:yawnt/.emacs.d.git
